body{
  background-color: #FFB900;
  font-family: 'american typewriter';
}

#formulario{
  width: 300px;
  background-color: #FFB900;
  height: 600px;
  margin: auto;
  border: ;
  font-size: 20px;

}

.contenido{
  text-align: left;
}


h1{
  text-align: center;
}

.pre{
margin left: 10px;
}

.txt{
  text-align: left;
}

.transporte{

  text-align: left;
}

.enviar{
  margin-left: 25%;
}
